@import url("https://fonts.googleleapis.com/css?family=Mali");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&display=swap');
body{ 
  font-family: 'Mali', cursive;
  background-color:#FC6B00;

}
.logo{
  color:white;
  text-align:left;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

header{
  background-color:black
  color white
    
}
.navbar {
  width:70px;
  padding:5px 20px;
  margin:5px;
  display:inline;
  color:white;
  text-align:right;
  font-size:2em;
  text-decoration:none;
  text-align:center;
     
  
}

.h1{
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  color:orange;

}

section{
 min-height: 400px;
  padding: 20px;
  background-color: black;
  margin: 10px 0;
  border 5px dotted #FC6B00;
}


