@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
@import url("https://fonts.googleleapis.com/css?family=Mali");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&display=swap");
body{ 
  font-family: 'Mali', cursive;
  background-color:#FC6B00;

}

#bigsection{
 min-height: 400px;
  padding: 20px;
  background-color: black;
  margin: 10px 0;
  border 5px dotted #FC6B00;
}

#logo{
  padding: 0.3rem;
    height: 50px;
    width: 50px;
}

#navbar{
  list-style:none;
  display:inline;
  color:white;
}

/*.nav{
  text-align:right;
  
}*/
/*.nav li{
  list-style:none;
  display:inline;
  
}*/
/*.nav li a{
  
  background-color:black;
  color:white;
  font-size:2em;
  text-decoration:none;
  width:70px;
  padding:5px 20px;
  margin:5px;
}*/

nav li a:hover{
  background-color: #806B60;
  border-bottom:3px solid white;
}

nav li a:active {
 background-color: #4CAF50;
 }

#heightAdjust{
        margin-bottom: -150px;
    }

#home-left{
    padding: 8%;
    text-align: left;
    z-index: 3;
}

#bannername{
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 1.5rem;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color:orange;
    
}
.adjective{
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: black;
}


#home-right{
    padding: 0;
    text-align: center;
    z-index: 2;
}

.imgInfo{
    vertical-align: top;
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-top: 0;
    padding-top: 0;
    

}

.proInfo{
    padding: 0.1rem 0.17rem;
}

.proInfoList{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    
}

.proInfo a.btn{
    font-size: 1.5rem;
}



#resumebtn{
 background-color: orange;
    text-color: white
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5em 1em;
    border: 2px solid white
    border-radius: 10px;
    margin-top: 1rem;
}


#locationimage, #githubimage, #linkedinimage {
background-color:black;
opacity:0.6;  
}

#locationimage a{
text-color:white;
}

#locationimage a:hover{
cursor:default;
}

#githubimage a, #linkedinimage a {
text-decoration:none;
color:white;
}

#githubimage a:hover, #linkedinimage a:hover{
background-color: green;
opacity:1;
}




.headingaligncenter{
  text-align:center;
}







