body{ 
  background-color:#FC6B00;

}
 nav li {
 width: 70px;
   padding: 5px 20px:
     margin: 5px:
     
  
}

.h1{
  color:orange;

}

section{
 min-height: 400px;
  padding: 20px;
  background-color: black;
  margin: 10px 0;
  border 5px dotted #FC6B00;
}

nav {
  background-color: black;
  display:inline;
  color:#FC6B00;
  text-align:right;
  font-size:2em;
  text-decoration: none;
  
}
